<h1>Friend List</h1>



<div id="friends">
  <table class="table table-striped table-striped-columns">
    <thead class="table-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Twitter</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
      <%= render friend %>
        <td><%= link_to "Show this friend", friend, class: "btn btn-primary" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
</div>

<%= link_to "New friend", new_friend_path, class: 'btn btn-success' %>
